body {
    background : #102a42;
}

@font-face {
    font-family: 'Colonna';
    src: url('../fonts/Colonna.eot');
    src: url('../fonts/Colonna.eot') format('embedded-opentype'),
         url('../fonts/Colonna.woff2') format('woff2'),
         url('../fonts/Colonna.woff') format('woff'),
         url('../fonts/Colonna.ttf') format('truetype'),
         url('../fonts/Colonna.svg#Colonna') format('svg');
}

@font-face {
    font-family: 'Merry Christmas Flake';
    src: url('../fonts/MerryChristmasFlake.eot');
    src: url('../fonts/MerryChristmasFlake.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MerryChristmasFlake.woff2') format('woff2'),
        url('../fonts/MerryChristmasFlake.woff') format('woff'),
        url('../fonts/MerryChristmasFlake.ttf') format('truetype'),
        url('../fonts/MerryChristmasFlake.svg#MerryChristmasFlake') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.calendar {
    width: 1600px;
    height: 900px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 11px 0;
}

#calendar-video {
    width: 1600px;
    height: 900px;
    position: relative;
    display: block;
    margin: auto;
}

.hotte-yunasmas {
    margin: 0 auto -29px;
    width: 100%;
    text-align: center;
    font-family: "Colonna";
    color: #fff;
    text-shadow: 0 0 10px #fff;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size : 85px;
    font-weight: normal;
    position: relative;
    z-index: 1;
}

.calendar-month {
    padding: 0;
    margin: 0 15px 30px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.calendar-month li {
    width: 180px;
}

.calendar-month img {
    width: 180px;
}

.calendar-weeks {
    display: flex;
    gap: 36px 50px;
    margin: 0 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calendar-days {
    width: 180px;
    height: 120px;
    perspective: 600px;
}

.locked {
    transform-style: flat;
    height: 120px;
    position: relative;
}


.unlocked {
    transform-style: preserve-3d;
}

.unlocked,
.unlocked > div {
    transition: transform 1s;
}
      
.unlocked > div {
    position: absolute;
}

.game-picture {
    min-height : 120px;
    width: 180px;
}
    
.surprise-december {
    background: lightgrey ;
    transform: rotateY(180deg);
    overflow : auto;
    height : 120px;
    width: 180px;
    backface-visibility: hidden;
}
    
.calendar-days:hover .unlocked{
    transform: rotateY(180deg);
}
  

.hidden {
    opacity: 0;
}

.surprise-december {
    background: rgba(255,255,255,0.5);
    padding: 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px #fff;
    text-align: center;
    height: 90px;
    font-size : 14px;
}

.days-number {
    font-family: "Colonna";
    font-size : 30px;
    width : 180px;
    height: 30px;
    background-color:  rgba(108,179,206,0.8);
    color: #fff;
    text-shadow: 0 0 3px #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.unlocked .days-number { bottom : 4px; }